<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <script src="popup-script.js"></script>
</head>

<body class="admin">
<header>
    <div class="nav-bar">
        <img th:src="@{/images/Logo-Yel-nav.png}" width="15%" /> | &nbsp;
            <a class="navlink" >ADMIN DASHBOARD</a>   | &nbsp;&nbsp;
            <a class="navlink" href="/logout">LOG OUT</a>
    </div>
</header>
<main>
    <h1>Welcome to the Admin Page!</h1>

    <section>
        <h3>Facts Submitted to Be Verified: </h3>
        <div class="form-facts-table">
<!--        <div class="flex-col">-->
            <table id="myForm" class="flex-col">
                <tr>
                    <th>Name:</th>
                    <th>Location:</th>
                    <th>Fact to Be Verified:</th>
                </tr>
                <tr>
                    <td th:text="${submitFact.nameInput}"></td>
                    <td th:text="${submitFact.locationInput}"></td>
                    <td th:text="${submitFact.factInput}"></td>
                </tr>
            </table>
        </div>
    </section>


    <!-- Steps -->
    <div class="insights row">
        <div class="steps col">
            <span class="material-symbols-outlined" style="font-size: 75px">footprint</span>                <div class="middle">
            <div class="left">
                <h3>Steps</h3>
                <h1>8,459</h1>
            </div>
            <div class="progress">
                <img th:src="@{/images/80.png}"/>
            </div>
            <div class="number">
                <p>85%</p>
            </div>
        </div>
            <small class="text-muted">Last 24 Hours</small>
        </div>

        <!-- Total Points -->

</main>

<footer>
    <div class="footer-content">
        <p>&copy;<script>document.write(new Date().getFullYear());</script> JSCubed</p>
    </div>
</footer>

</body>
</html>