<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <script src="popup-script.js"></script>
</head>

<body class="admin">
<header th:replace="~{fragments :: header}"></header>

<!--<header>-->
<!--    <div class="nav-bar">-->
<!--        <img th:src="@{/images/Logo-Yel-nav.png}" width="15%" /> | &nbsp;-->
<!--        <a class="navlink" >ADMIN DASHBOARD</a>   | &nbsp;&nbsp;-->
<!--        <a class="navlink" href="/logout">LOG OUT</a>-->
<!--    </div>-->
<!--</header>-->
<main>
    <h1>Admin Dashboard</h1>

    <section>
        <h3>Facts Submitted to Be Verified: </h3>
        <div class="form-facts-table">
            <!--        <div class="flex-col">-->
            <table id="myForm" class="flex-col">
                <tr>
                    <th>Name:</th>
                    <th>Location:</th>
                    <th>Fact to Be Verified:</th>
                </tr>
                <tr>
                    <td th:text="${submitFact.nameInput}"></td>
                    <td th:text="${submitFact.locationInput}"></td>
                    <td th:text="${submitFact.factInput}"></td>
                </tr>
            </table>
        </div>
    </section>

</main>

<footer>
    <div class="footer-content">
        <p>&copy;<script>document.write(new Date().getFullYear());</script> JSCubed</p>
    </div>
</footer>

</body>
</html>