<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <script src="popup-script.js"></script>
</head>
<body class="admin">
<header th:replace="~{fragments :: header}"></header>

<main>
    <h1>Admin Dashboard</h1>
    <section>
        <h3>Reports Made: </h3>
        <div class="form-facts-table">
<!--        <div class="report-button-table">-->
<!--            <table id="reportForm" class="flex-col">-->
            <table id="myForm" class="flex-col">
                <tr>
                    <th>Name: </th>
                    <th>Report: </th>
                </tr>
                <tr>
                    <td th:text="${reportButton.name}"></td>
                    <td th:text="${reportButton.report}"></td>
                </tr>
            </table>
        </div>
    </section>
</main>

<footer>
    <div class="footer-content">
        <p>&copy;<script>document.write(new Date().getFullYear());</script> JSCubed</p>
    </div>
</footer>

</body>
</html>