<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <div class="container">
        <!--        <h1>Welcome Back!</h1>-->
        <!--        <h1 th:text="${user.firstName}">User</h1>-->
        <h1 th:text="'Welcome back, ' + ${user.firstName} + '!'">Welcome back, User!</h1>

        <!-- Steps -->
        <div class="insights row">
            <div class="steps col">
                <span class="material-symbols-outlined" style="font-size: 75px">footprint</span>
                <div class="middle">
                <div class="left">
                    <h3>Steps</h3>
                    <h1>8,459</h1>
                    <!-- Currently hardcoded until daily steps tracking with SQL queries
                    to calculate percentages code is completed -->

                </div>
                <div class="progress">
                    <!-- Currently hardcoded graphs / data until daily steps tracking code is completed -->
                    <img th:src="@{/images/80.png}"/>


                    <!-- Conditionals below are for graphs once daily steps tracking code is completed;
                        calculated primarily based on rounding up or down to nearest thousandths place
                        e.g. 1400 rounds down to 1000
                                1000 is 10% of daily goal (daily goal = 10,000) -->

<!--                    <div th:if="${user.steps >= 0 and user.steps < 1500}">-->
<!--                        <img th:src="@{/images/10.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 1500 and user.steps < 2500}">-->
<!--                        <img th:src="@{/images/20.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 2500 and user.steps < 3500}">-->
<!--                        <img th:src="@{/images/30.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 3500 and user.steps < 4500}">-->
<!--                        <img th:src="@{/images/40.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 4500 and user.steps < 5500}">-->
<!--                        <img th:src="@{/images/50.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 5500 and user.steps < 6500}">-->
<!--                        <img th:src="@{/images/60.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 6500 and user.steps < 7500}">-->
<!--                        <img th:src="@{/images/70.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 7500 and user.steps < 8500}">-->
<!--                        <img th:src="@{/images/80.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 8500 and user.steps < 9999}">-->
<!--                        <img th:src="@{/images/90.png}"/>-->
<!--                    </div>-->
<!--                    <div th:if="${user.steps >= 10000}">-->
<!--                        <img th:src="@{/images/100.png}"/>-->
<!--                    </div>-->



                </div>
                <div class="number">
                    <p>85%</p>
                </div>
            </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>

            <!-- Total Points -->
            <div class="points col">
                <span class="material-symbols-outlined" style="font-size: 75px">star_rate</span>
                <div class="middle">
                    <div class="left">
                        <h3>Points</h3>
                        <h1>3,210</h1>
                        <!-- Currently hardcoded until code altered with SQL queries to track individual point logs
                         to differentiate between levels
                        e.g. Level 2 is between 10000 - 15000 so if a user has 11,000 points - it would should
                            1,000 current points toward levels up, which would have a progress of 20% -->
                    </div>
                    <div class="progress">
                        <img th:src="@{/images/30.png}"/>
                    </div>
                    <div class="number">
                        <p>34%</p>
                    </div>
                </div>
                <small class="text-muted">Current points toward leveling up</small>
            </div>

            <!-- Badges  -->
            <div class="badges col">
                <span class="material-symbols-outlined" style="font-size: 75px">social_leaderboard</span>
                <div class="middle">
                    <div class="left">
                        <h3>Badges</h3>
                        <h1>6</h1>
                    </div>
                    <div class="progress">
                        <img th:src="@{/images/60.png}"/>
                    </div>
                    <div class="number">
                        <p>60%</p>
                    </div>
                </div>
                <small class="text-muted">Earned by exploring St. Louis locations</small>
            </div>

            <div class="badges col">
                <img th:src="@{/images/Leadership-Board.gif}"
                     style="width: 20rem; height 20rem;
                     align-content: center" />
            </div>

            <div class="user-level col">
                <span class="material-symbols-outlined" style="font-size: 75px">emoji_events</span>
                <div class="left">

                    <!-- Check if user.points is not empty -->
                    <div th:if="${user.points}">

                        <!-- Display user points -->

                        <div th:if="${user.points >= 0 and user.points < 10000}">
                            <h3>User Level</h3>
                            <h1>1</h1>
                        </div>
                        <div th:if="${user.points >= 10001 and user.points < 15000}">
                            <h3>User Level</h3>
                            <h1>2</h1>
                        </div>
                        <div th:if="${user.points >= 15001 and user.points <25000}">
                            <h3>User Level</h3>
                            <h1>3</h1>
                        </div>
                        <div th:if="${user.points >= 25001 and user.points <40000}">
                            <h3>User Level</h3>
                            <h1>4</h1>
                        </div>
                        <div th:if="${user.points >= 40001}">
                            <h3>User Level</h3>
                            <h1>5</h1>
                        </div>
                        <small class="text-muted" th:text="'Total  Experience Points: ' + ${user.points}">points</small>

                    </div>
                    <!-- Display if user.points is empty or not defined -->
                    <div th:unless="${user.points}">
                        <h3>User Level</h3>
                        <h1>1</h1>
                        <small class="text-muted">Total  Experience Points: 3,210</small>

                    </div>


                </div>


            </div>

            <div class="user-level col">
                <span class="material-symbols-outlined" style="font-size: 75px">favorite</span>
                <div class="left">
                    <p><a href="/favorites/add-a-fave"><i class='bx bx-heart-circle'></i>Click here to add more locations to your favorites.</a></p>

                    <p><a href="/favorites"><i class='bx bxs-heart-circle'></i>Click here to view your favorite locales!</a></p>
                </div>
            </div>

        </div>
    </div>

</main>
<footer th:replace="~{fragments :: footer}"></footer>

</body>

</html>