<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="~{fragments :: header}"></header>

<p th:text="${errorMsg}"></p>

<form method="post">
    <div>
        <label th:for="location">Location</label>
            <input th:field="${userFavoritesDTO.location}">
        <p class="error" th:errors="${userFavoritesDTO.location}"></p>
    </div>
    <div>
        <label th:for="longitude">Longitude</label>
            <input th:field="${userFavoritesDTO.longitude}">
        <p class="error" th:errors="${userFavoritesDTO.longitude}"></p>
    </div>
    <div>
        <label th:for="latitude">Latitude</label>
            <input th:field="${userFavoritesDTO.latitude}">
        <p class="error" th:errors="${userFavoritesDTO.latitude}"></p>
    </div>
    <div>
        <label>Description
            <input th:field="${favorite.description}">
        </label>
    </div>
    <div>
        <button type="submit">Add</button>
    </div>


</form>

</body>
</html>