<!DocType html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <h1>Community Journals</h1>
    <table>
        <thead>
        <tr>
            <th>Journal Entry</th>
            <th>Journal Location</th>
            <th>Journal Date</th>
            <th>User Name</th>
            <th>Comment on other journals!</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userjournal : ${journalEntries}">
            <td th:text="${userjournal.journalEntryBlank}"></td>
            <td th:text="${userjournal.journalLocation}"></td>
            <td th:text="${userjournal.journalDate}"></td>
            <td th:text="${userjournal.userName}"></td>
            <td th:text="${userjournal.comments}"></td>
            <td><a class="navlink" href="/comments">Comment!</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>
