<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <h1>Edit Journal Entry: </h1>
    <form th:action="@{/editjournals/edit}" method="post">
        <div>
            <label>Journal Date:
                <input type="text" th:field="${userjournal.journalDate}">
            </label>
            <label>Journal Location:
                <input type="text" th:field="${userjournal.journalLocation}">
            </label>
            <label>Journal Entry:
                <input type="text" th:field="${userjournal.journalEntryBlank}" />
            </label>
        </div>
        <div>
            <input type="submit" value="Edit" />
        </div>
    </form>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
