<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <div>
        <h1>Journal Entries</h1>
        <table>
            <thead>
            <tr>
                <th>Journal Entry</th>
                <th>Journal Location</th>
                <th>Journal Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userjournal : ${journalEntries}">
                <td th:text="${userjournal.journalEntryBlank}"></td>
                <td th:text="${userjournal.journalLocation}"></td>
                <td th:text="${userjournal.journalDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>