
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head}"></head>
    <body>
    <header th:replace="~{fragments :: header}"></header>
    <main>
        <div>
            <h1>Journal Entries: </h1>
            <form th:action="@{/userjournal/log}" method="post">
                <div>
                    <label>Journal Entry:
                        <input type="text" th:field="${userjournal.journalEntryBlank}" />
                    </label>
                    <label>Journal Location:
                        <input type="text" th:field="${userjournal.journalLocation}">
                    </label>
                    <label>Journal Date:
                        <input type="text" th:field="${userjournal.journalDate}">
                    </label>
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </form>
    </main>
    </body>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>

