<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments :: head}">
    <meta charset="utf-8">
    <title>Submit a Journal</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <div>
            <h1>Journal Entries</h1>
            <h3>View and Leave Journal Entries Here</h3>
            <form th:action="@{/userjournal}" method="post">
                <div class="row">
                    <label>Journal Entry: </label>
                    <textarea name="missionDescription"></textarea>
                    <label>Journal Location: </label>
                    <textarea name="missionDescription"></textarea>
                    <label>Journal Date: <input type="text"></label>
                </div>
            <div>
                <input type="submit" onclick="createNewJournalEntry()" value="Submit"/>
            </div>
        </form>
            <table class="userjournal">
            <tr th:each="UserJournal : ${UserJournal}">
                <td th:text="${UserJournal.journalEntry}"></td>
                <td th:text="${UserJournal.journalLocation}"></td>
                <td th:text="${UserJournal.journalDate}"></td>
            </tr>
        </table>
    </div>
</main>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>