<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <title>My Journals</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <table class="userjournal">
        <h1>Journal Entries</h1>
        <h3>View and Leave Journal Entries Here</h3>
        <form method="post">
            <tr th:each="UserJournal : ${UserJournal}">
                <td th:text="${UserJournal.journalEntry}"></td>
                <td th:text="${UserJournal.journalLocation}"></td>
                <td th:text="${UserJournal.journalDate}"></td>
            </tr>
            <div class="row">
                <label>Journal Entry: </label>
                <textarea name="missionDescription"></textarea>
                <label>Journal Location: </label>
                <textarea name="missionDescription"></textarea>
            </div>
            <div class = "row">
                <label>Journal Date: <input type="datetime-local"></label>
            </div>
            <button onclick="createNewJournalEntry()" value="Submit">Submit</button>
        </form>
        <h2>Your Journal Entries: </h2>


    </table>
</main>
</body>
</html>
