<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Walkabout the Gateway</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<header th:fragment="header">
    <div class="nav-bar">
        <img th:src="@{/images/Logo-Yel-nav.png}" width="15%" /> | &nbsp;
        <!--        <img th:src="@{/images/Logo-Yel-nav.png}" width="15%" /> | &nbsp;-->
        <th:block th:unless="${loggedIn}">
                <div class="nav-bar">
<!--                    <img th:src="@{/images/Logo-Yel-nav.png}" width="15%" /> | &nbsp;-->
                <a class="navlink" href="/">HOME</a>  | &nbsp;&nbsp;
                <a class="navlink" href="/login">LOG IN</a>  | &nbsp;
                <a class="navlink" href="/register">REGISTER</a>
            </th:block>
            <th:block th:if="${loggedIn}">
                <div class="nav-bar">
                    <img th:src="@{/images/Logo-Yel-nav.png}" width="15%" /> | &nbsp;
<!--                <span><a href="/">Home</a></span> | &nbsp;-->
                <a class="navlink" href="/profile">Profile</a>  | &nbsp;
                <a class="navlink" href="/trips">Trips</a>  | &nbsp;
                <a class="navlink" href="/log-a-trip">Log a Trip</a>  | &nbsp;
                <a class="navlink" href="/logout">Log Out</a>
                </div>
            </th:block>
    </div>
</header>
</body>
</html>