<!DocType html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>

    <div class="homepage">
        <div>
        <h1>Walk, Explore, Connect</h1>
        <h3>Elevate Your Lifestyle with Walkabout the Gateway</h3>
            <ul>
                <li>Discover St. Louis, One Step at a Time!</li>
                <li>Challenge yourself and others, unlocking badges and reaching new step milestones.</li>
                <li>Learn fascinating facts with every step, turning each stroll into a discovery!</li>
            </ul>
        </div>
            <div>
                <img th:src="@{/images/Logo-BW.png}"/>
            </div>
        </div>

<footer class="footer">
    <div class="footer-content">
        <p>&copy;<script>document.write(new Date().getFullYear());</script> JSCubed</p>
    </div>
</footer>

</body>
</html>