<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
    <main>
        <div>
            <h1>Log Your Trip Here!</h1>
            <form th:action="@{/log-a-trip/log}" method="post">
                <div>
                    <label>Enter your steps:
                        <input type="number" th:field="${user.points}" min="1" />
                    </label>
                </div>
                <div>
                    <label>
                        <img th:src="@{/images/Arch.jpg}" alt="The Arch" width="75 px"/>
                        <input type="checkbox" th:field="${user.badges}" value="Arch">
                        The Arch
                    </label>
                </div>
                <div>
                    <label>
                        <img th:src="@{/images/Botanical-Gardens.jpg}" alt="Botanical Gardens" width="75 px"/>
                        <input type="checkbox" th:field="${user.badges}" value="Botanical Gardens">
                        Botanical Gardens
                    </label>
                </div>
                <div>
                    <label>
                        <img th:src="@{/images/Busch-Gardens.jpg}" alt="Busch Gardens" width="75 px"/>
                        <input type="checkbox" th:field="${user.badges}" value="Busch Gardens">
                        Busch Gardens
                    </label>
                </div>
                <div>
                <label>
                    <img th:src="@{/images/Busch-Stadium.jpg}" alt="Busch Stadium" width="75 px"/>
                    <input type="checkbox" th:field="${user.badges}" value="Busch Stadium">
                    Busch Stadium
                </label>
                </div>
                <div>
                    <label>
                        <img th:src="@{/images/Capitol-Building.jpg}" alt="Capitol Building" width="75 px"/>
                        <input type="checkbox" th:field="${user.badges}" value="Capitol Building">
                        Capitol Building
                    </label>
                </div>
                <div>
                    <label>
                        <img th:src="@{/images/Forest-Park.jpg}" alt="Forest Park" width="75 px"/>
                        <input type="checkbox" th:field="${user.badges}" value="Forest Park">
                        Forest Park
                    </label>
                </div>
                <div>
                    <label>
                        <img th:src="@{/images/Zoo.jpg}" alt="Zoo" width="75 px"/>
                        <input type="checkbox" th:field="${user.badges}" value="Zoo">
                        Zoo
                    </label>
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </main>
</body>
</html>